// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.log_in {
    display: flex;
    justify-content: center;
}

.log_in_items {
    padding: 20px 100px;
    margin: 40px;
    border: 1px solid #e3e2e2;
    justify-content: center;
}
