// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.log_in {
    display: flex;
    justify-content: center;
}

.log_in_items {
    padding: 40px 100px;
    margin: 40px 0;
    border: 1px solid #e3e2e2;
    justify-content: center;
}

.back_btn{
    border: solid 1px #e3e2e2;
    padding: 5px 0;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}
